* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Figtree;
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    --Font-Family: 'Figtree';
}

body {
    background-color: var(--Yellow);
    font-family: var(--Font-Family);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--Gray-950);
}

.card {
    background-color: var(--White);
    width: 327px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--Gray-950);
    box-shadow: 10px 10px var(--Gray-950);

    & .ilustration {
        width: 100%;
        border-radius: 12px;
    }

    & .label {
        background-color: var(--Yellow);
        padding: 4px 12px;
        display: inline-block;
    }
}